.footer{
    width: 100%;
    margin-bottom: 0px;
    height: 300px;
    
}
.footer-contact{
    margin-left: 20px;
}
.icon{
   margin-left: 20px;
    }

    .contact-info{
        text-align: left;
    }